* {
  font-family: 'Lemonada', cursive;
}

body {
  background-color: #CCF5DF;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

nav, .footer, .btn, .bookCard {
  background-color: #85D6A0;
  border: #143D22 dotted 2px;
}

.nav-link, .navbar-brand {
  color: #143D22;
}

.navbar-toggler {
  background-color: #143D22;
}

#loginContainer {
  border-right: dotted black 2px;
  border-radius: 15px;
}

#signUpContainer {
  border-left: dotted black 2px;
  border-radius: 15px;
}

.error {
  color: #F02719;
}

#searchInput {
  border-radius: 10px;
}

img {
  width: 170px;
  height: 210px;
  background-color: #38A85E;
  border: black 1px dotted;
}

.bookInfo {
  font-size: small;
}

.titleRow {
  background-color: #38A85E;
  border-bottom: black 2px solid;
}

.partition-left {
  border-right: black dotted 2px
}